.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1024px) {
  .gallery__list {
    gap: 14px;
  }
}

@media screen and (max-width: 984px) {
  .gallery__list {
    gap: 16px;
  }
}

@media screen and (max-width: 475px) {
  .gallery__list {
    gap: 12px 0;
  }
}
