.place__description-text {
  display: flex;
  flex-direction: column;
  gap: 26px 0;
}

@media screen and (max-width: 768px) {
  .place__paragraph {
    gap: 25px 0;
  }
}

@media screen and (max-width: 650px) {
  .place__description-text {
    width: calc(100% - 48px);
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 475px) {
  .place__description-text {
    width: calc(100% - 32px);
  }
}
