.cover__title {
  max-width: 560px;
  font-size: 72px;
  line-height: 1.06;
  font-weight: 900;
  text-align: center;
  color: #fff;
  margin: 0;
}

@media screen and (max-width: 570px) {
  .cover__title {
    max-width: 95%;
    font-size: 52px;
  }
}

@media screen and (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 1.09;
  }
}

@media screen and (max-width: 320px) {
  .cover__title {
    max-width: 288px;
  }
}
