.footer__list {
  display: flex;
  list-style: none;
  gap: 0 18px;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 765px) {
  .footer__list {
    justify-content: space-between;
  }
}

@media screen and (max-width: 545px) {
  .footer__list {
    gap: 0 10px;
  }
}

@media screen and (max-width: 475px) {
  .footer__list {
    flex-direction: column;
  }

  .footer__list {
    gap: 32px 0;
  }
}
